<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Amazon Test Suite">

    <test name="Smoke Tests">

        <parameter name="product" value="Laptop"/>

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>

            <class name="com.anwar.tests.AmazonLoginTest"/>
            <class name="com.anwar.tests.AmazonSearchTest"/>
            
        </classes>

    </test>

</suite>